In [ ]:
-- Create a table to store student information
CREATE TABLE students (
  student_id INT PRIMARY KEY,
  first_name VARCHAR(20),
  last_name VARCHAR(20),
  email VARCHAR(50),
  phone VARCHAR(11),
  address VARCHAR(100)
);

-- Create a table to store course information
CREATE TABLE courses (
  course_id INT PRIMARY KEY,
  course_name VARCHAR(25),
  instructor VARCHAR(60),
  credits INT
);

-- Create a table to store student enrollment information
CREATE TABLE enrollments (
  enrollment_id INT PRIMARY KEY,
  student_id INT,
  course_id INT,
  enrollment_date DATE,
  grade VARCHAR(2),
  FOREIGN KEY (student_id) REFERENCES students(student_id),
  FOREIGN KEY (course_id) REFERENCES courses(course_id)
);

-- Insert data into the students table
INSERT INTO students (student_id, first_name, last_name, email, phone, address)
VALUES (1, 'John', 'Doe', 'johndoe@email.com', '123-456-7890', '123 Main St'),
       (2, 'Jane', 'Smith', 'janesmith@email.com', '555-555-5555', '456 Oak St');

-- Insert data into the courses table
INSERT INTO courses (course_id, course_name, instructor, credits)
VALUES (1, 'Introduction to Computer Science', 'Dr. Johnson', 3),
       (2, 'Database Management Systems', 'Dr. Lee', 3);

-- Insert data into the enrollments table
INSERT INTO enrollments (enrollment_id, student_id, course_id, enrollment_date, grade)
VALUES (1, 1, 1, '2022-01-01', 'A'),
       (2, 1, 2, '2022-02-01', 'B'),
       (3, 2, 1, '2022-01-01', 'B'),
       (4, 2, 2, '2022-02-01', 'A');

-- Select all students and their enrollment information
SELECT students.student_id, students.first_name, students.last_name, courses.course_name, enrollments.grade
FROM students
JOIN enrollments ON students.student_id = enrollments.student_id
JOIN courses ON enrollments.course_id = courses.course_id;s